.todoitem{
    display: flex;
    background-color: #293462;
    color: white;
    width: 20rem;
    justify-content: space-between;
    padding:.5rem 1rem;
    margin-top: .5rem;
}
.todoitem > p{
display: inline-block;
}
svg{
    cursor: pointer;
}